#!/usr/bin/env bash
{{ ansible_managed | comment }}

set -e
set -x

emerge --ask n --oneshot @module-rebuild
eselect kernel set linux-$(eix -I sys-kernel/rz42-kernel --format '<installedversions:NAMEVERSION>' | grep -v "^\[" | sed -n "s/.*-\([0-9\.]*\)\(\|-r[0-9]*\)$/\1/p")

# don't know why this is needed, but it helps to prevent booting issues
set +e
zpool set cachefile=none rpool
zpool set cachefile=/etc/zfs/zpool.cache rpool
set -e

emerge --ask n --config sys-kernel/rz42-kernel
